.carousel {
 position: relative;
  width: auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.8s ease;
}

.carousel-images img {
  width: 800px;
  object-fit: cover;

}