@import "../components/reset.css";
@import "../components/navbar.css";

.imagemFundo > img{
  width: 100vw;
  height: 100vh;
}

h1{
  color: rgb(0, 0, 0);
}
 .ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0cqmax;
  color: black;
 }
  
 .privacidade {
  text-align: center;
  display:flex;
  justify-content: center;
 }


 .imgAOPA{
  width: 30%;
 }
 .container{
  width: 100vw;
  height: 100vh;

display: flex;
justify-content: center;
align-items: center;

 }

  .casa{
    width: 50%;
    height: 50%;
    background-color: darksalmon;
text-align: center;
  }
  .instagram{
    width: 30px;
    height: 30px;
  }
  .facebook{
    width:30px;
    width:30px;
  }

  .contato{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  .redes sociais{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h2{
    color: black;
    text-align: center;
  }

  
/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.botoes{
  color: black;
 background-color: darksalmon;
 
}
.botoes-doacao{
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10%;
  color: black;
 background-color: darksalmon;
 
}
body{
background-repeat: no-repeat;
background-position: center;
background-size: auto;
  background-image: url(https://cdn.prod.website-files.com/6144a0dee1cc360ead64bba6/64de76efcf05db875c31e6a7_FULL-6B.jpg);
}
.imagem{
  width: 100px;

}
.corpo-sobre-nos{
  background-color: rgb(206, 154, 137);
}
